*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#inputAndStart {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    margin-bottom: 32px;
}

#fieldSize {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: left;
}

#fieldSize input {
    justify-self: right;
}

#startGame {
    width: 50%;
    margin: 0 auto;
}

#numOfShips {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#numOfShips label {
    justify-self: right;
    margin-right: 12px;
    margin: auto;
}

#numOfShips input {
    margin-block: auto;
}

#score {
    width: 80%;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

#gameField {
    width: max-content;
    margin: 0 auto;
}

#gameTbl td {
    width: 40px;
    height: 40px;
    background-color: rgb(117, 117, 117);
    cursor: url(../assets/cursors/crosshair.png);
}

#gameTbl:hover {
     cursor: crosshair;
}

#message {
    position: absolute;
    background-color: turquoise;
    width: 500px;
    height: 250px;
    top: 25%;
    right: 43%;
    display: none;
}

#closeDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
}

#closeDiv:hover {
    cursor: pointer;
}

.destroyed {
    background-image: url(../assets/gifs/fire.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

#explosion {
    width: 300px;
}

#victory {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/victory.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20%;
    display: none;
}

#congratulations {
    background-color: cyan;
    width: 20%;
    height: 20%;
    margin-inline: auto;
    margin-top: 5%;
}

#congratulations h2 {
    font-size: 3em;
    margin-bottom: 15%;
}